<div class="mt-10">
    <form method="POST" action="/search">
        <div class="form-group">
            <label for="exampleInputEmail1">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhap tim kiem">
            <input type="text" name="tuoi" class="form-control" id="exampleInputEmail1" placeholder="Nhap tim kiem">
            <input type="text" name="namsinh" class="form-control" id="exampleInputEmail1" placeholder="Nhap tim kiem">
            </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>  